<section class="plans seccion">
  <div class="container">
    <h2>Planes</h2>
    <p class="description">Inicia gratis, crece tu plan cuando sea necesario</p>

    <div class="our-plans">
      <div class="plan inicio">
        <h3>Inicio</h3>
        <p class="price">€2.99 Mes</p>

        <ul class="list">
          <li>30 Episodios</li>
          <li>Estadisticas</li>
          <li>App para grabar</li>
        </ul>

        <a href="#" class="button-plan">Inscribirme</a>
      </div> <!--.plan-->

      <div class="plan business">
        <h3>Negocio</h3>
        <p class="price">€6.99 Mes</p>

        <ul class="list">
          <li>Episodios Ilimitados</li>
          <li>Todas las plataformas</li>
          <li>Estadisticas</li>
          <li>App para grabar</li>
          <li>Podcast Pagados</li>
        </ul>

        <a href="#" class="button-plan">Inscribirme</a>
      </div> <!--.plan-->

      <div class="plan pro">
        <h3>PRO</h3>
        <p class="price">€4.99 Mes</p>

        <ul class="list">
          <li>50 Episodios</li>
          <li>Todas las plataformas</li>
          <li>Estadisticas</li>
          <li>App para grabar</li>
        </ul>

        <a href="#" class="button-plan">Inscribirme</a>
      </div> <!--.plan-->
    </div>
  </div>
</section>