<section class="container seccion">
  <div class="crea-grid">
    <div class="imagen">
      <img src="../../../assets/img/imagen_podcast.svg" alt="imagen podcast">
    </div>
    <div class="content">
      <h2>Crea tu Podcast</h2>
      <p>Nosotros lo distribuimos a las plataformas más populares como Google Podcast, Spotify, Apple Podcast
        y YouTube.</p>
    </div>
  </div>
</section>

<section class="benefits seccion">
  <div class="grid-benefits container">
    <div class="content-benefits">
      <h2>Llega a miles y gana dinero</h2>
      <p>Los podcast se han convertido en un medio de entretenimiento que cada día gana más seguidores, con
        temas variados puedes crear tu propio podcast, ser escuchada(o) por miles de personas y convertir tu
        pasión en un business.</p>
    </div>

    <div class="imagen">
      <img src="../../../assets/img/podcast_cover.png" alt="imagen podcast">
    </div>
  </div>
</section>