
  <section class="container seccion testimonials">
    <div class="imagen">
      <img src="../../../assets/img/app.jpg" alt="imagen app">
    </div>

    <div class="content">
      <h2>Testimoniales</h2>

      <div class="testimonial">
        <p>La mejor plataforma musical! Quien diga lo contrario, que piense y cree algo mejor!</p>
      </div>

      <div class="testimonial">
        <p>Simplemente amo PodcastFm, ellos tienen el mejor y más amplio contenido. Solo aquí he encontrado los Podcast que alguna vez escuché y que nunca creí que iba a encontrar de nuevo.</p>
      </div>

      <div class="testimonial">
        <p>Llevo años usando esta app y estoy contentísima. Toda los Podcats que quieras en un "click". Listas personalizadas y muuucho más! Por €6.99 al mes merece la pena. Se lo recomiendo a todo el mundo.</p>
      </div>
    </div>
  </section>